<table>
        <thead>
            <tr>
                <th>Incident ID</th>
                <th>Description</th>
                <th>Date</th>
                <th>Severity</th>
            </tr>
        </thead>
        <tbody>
            {% for incident in incidents %}
            <tr>
                <td>{{ incident['Incidents'] }}</td>
                <td>{{ incident['Description'] }}</td>
                <td>{{ incident['IncidentDate'] }}</td>
                <td>{{ incident['Severity'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
