{% extends "base.html" %}

{% block content %}
<div>
    <h1 class="page-heading">Safe Seas</h1>
</div>

<table>
    <thead>
        <tr>
            <th>Route Id</th>
            <th>Origin Port</th>
            <th>Destination Port</th>
            <th>Distance</th>
            <th>Direction</th>
            <th>Vessel Type</th>
            <th>No of Travels</th>
            <th>No of Incidents</th>
            <th>Risk Score</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for route in routes %}
        {% set incident_percentage = (route['Total_Incidents_Count'] / route['No_Of_Travels']) * 100 %}
        <tr>
            <td>{{ route['Route_Id'] }}</td>
            <td>{{ route['Origin_Port'] }}</td>
            <td>{{ route['Destination_Port'] }}</td>
            <td>{{ route['Distance'] }}</td>
            <td>{{ route['Travel_Direction'] }}</td>
            <td>{{ route['Vessel_Type'] }}</td>
            <td>{{ route['No_Of_Travels'] }}</td>
            <td class="
                {% if incident_percentage > 50 %}
                    high-incidents
                {% elif incident_percentage > 15 %}
                    medium-incidents
                {% else %}
                    low-incidents
                {% endif %}
            ">
                {{ route['Total_Incidents_Count'] }}
            </td>
            <td class="
                    {% if route['Risk_Score'] > 50 %}
                        high-risk
                    {% elif route['Risk_Score'] > 20 %}
                        medium-risk
                    {% else %}
                        low-risk
                    {% endif %}
                ">
                    {{ route['Risk_Score'] }}
                
            </td>
            <td>
                <button onclick="showIncidents('{{ route['Route_Id'] }}')">Incident</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div id="incident-details" class="modal"> 
    <div class="modal-content">
        <span class="close-button" onclick="closeModal()">&times;</span>
        <div id="incident-content"></div> 
    </div>
</div>

<script>
    function showIncidents(routeId) {
        fetch(`/incidents/${routeId}`) 
            .then(response => response.text())
            .then(html => {
                document.getElementById('incident-content').innerHTML = html;
                document.getElementById('incident-details').style.display = 'block';
            })
            .catch(error => console.error('Error fetching incidents:', error));
    }

    function closeModal() {
        document.getElementById('incident-details').style.display = 'none';
        document.getElementById('incident-content').innerHTML = ''; // Clear content
    }
</script>

<style>
    /* Basic modal styling */
    .modal {
        display: none; 
        position: fixed; 
        z-index: 1; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: rgba(0, 0, 0, 0.4); 
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; 
        padding: 20px;
        border: 1px solid #888;
        width: 80%; 
    }

    .close-button {
        color: #532a2a;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close-button:hover,
    .close-button:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
</style>

{% endblock %}
