body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/static/cover3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #333;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Optional: Adds a slight white background with transparency for readability */
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6); /* Make the navigation links background semi-transparent */
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.8); /* Slightly less transparent on hover */
}

#content {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
}

tbody td {
    background-color: rgba(255, 255, 255, 0.8); /* Make the table rows semi-transparent */
    padding: 10px;
    border: 1px solid #ddd;
}

tbody tr:nth-child(even) td {
    background-color: rgba(255, 255, 255, 0.6); /* Alternate row color with transparency */
}

tbody tr:hover td {
    background-color: rgba(255, 255, 255, 0.9); /* Hover effect with slightly less transparency */
}

.high-incidents {
    background-color: rgba(255, 0, 0, 0.6); /* Red with transparency */
}

.medium-incidents {
    background-color: rgba(255, 165, 0, 0.6); /* Orange with transparency */
}

.low-incidents {
    background-color: rgba(144, 238, 144, 0.6); /* Light green with transparency */
}

.high-risk {
    background-color: rgba(255, 0, 0, 0.6); /* Red with transparency */
}

.medium-risk {
    background-color: rgba(255, 165, 0, 0.6); /* Orange with transparency */
}

.low-risk {
    background-color: rgba(144, 238, 144, 0.6); /* Light green with transparency */
}

button {
    padding: 5px 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
